{% extends 'base.html' %}

{% block title %}За нас{% endblock %}

{% block content %}
<div class="about_us">
    <div class="team">
        <div>
            <span>Матеј Бангиевски</span>
            <small>221233</small>
            <small><a href="mailto:matej.bangievski@students.finki.ukim.mk">matej.bangievski@students.finki.ukim.mk</a></small>
        </div>
        <div>
            <span>Дамјан Христовски</span>
            <small>221206</small>
            <small><a href="mailto:damjan.hristovski@students.finki.ukim.mk">damjan.hristovski@students.finki.ukim.mk</a></small>
        </div>
        <div>
            <span>Стефан Анѓелковски</span>
            <small>221198</small>
            <small><a href="mailto:stefan.angjelkovski@students.finki.ukim.mk">stefan.angjelkovski@students.finki.ukim.mk</a></small>
        </div>
    </div>
    <div class="description">
        <p>Оваа апликација е изработена како проект по предметот </br><span class="subject">Дизајн и Архитектура на софтвер</span>.</p>
        <p>Иако оваа апликација е наменета да ја предвидува цената на акциите на македонските компании, целта на овој проект е да научиме да направиме правилен избор на архитектура при правење на една апликација.</p>
    </div>
</div>
{% endblock %}

