{% extends 'base.html' %}

{% block title %}Почетна{% endblock %}

{% block content %}
<div class="home">
    <div>
        <strong>Апликацијата за предвидување вредност на акции на Македонска берза</strong></br>
        користи напредни алгоритми за машинско учење и анализа на податоци за да ги предвиди трендовите на пазарот на акции на македонските акционерски друштва.
    </div>
    <div>
        Со анализирање на историски податоци  и вклучување на пазарни информации, нашата апликација има за цел да обезбеди предвидувања на цените на акциите.
        Апликацијата ќе им користи не само на потенцијалните инвеститори, туку и на заинтересираните за науката на податоците преку практична примена
        на истата во реалниот свет.
    </div>
    <div>
        <a href="{% url 'companies' %}" >
            <button>Започни</button>
        </a>
    </div>
</div>
{% endblock %}
